.header {
    width: 100%;
    /* background-color: #1D2A3A; */
    background-color: #141824;
    padding: 24px 0;
}

.header__content {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo a {
    font-size: 30px;
    color: #fff;
    text-decoration: none;
    font-family: 'Helvetica';
}

.header__search {
    width: 100%;
    max-width: 734px;
    margin-right: 40px;
    margin-left: 40px;
    background-color: #F5F6FE;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    position: relative;
    overflow: hidden;
}

.header__search--input{
    width: 100%;
    padding: 17px;
    background-color: transparent;
    border: none;
    outline: none;
}

.header__search--btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #1449A3;
    right: 20px;
    position: absolute;
    border: none;
}

.header__auth {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 300px;
}