* {
  margin: 0;
  padding: 0;
}

@import 'bootstrap/dist/css/bootstrap-grid.min.css';

@font-face {
  font-family: 'Helvetica';
  font-style: normal;
  font-weight: normal;
  src: local('Helvetica'), url('./assets/fonts/Helvetica.woff') format('woff');
}
  
@import url("https://cdn.web-fonts.ge/fonts/bpg-arial-caps/css/bpg-arial-caps.min.css");

body {
  background-color: #0f111a;
}